.profile {
  display: grid;
  max-width: 70vw;
  grid-template-columns: max-content 1fr;
  gap: 20px;
  margin: auto;
}

.profile__img {
  max-width: 100px;
  max-height: 100px;
}

.profile__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style-type: none;
  padding: 0;
}

.profile__nickname {
  grid-row-start: 2;
  margin-top: 10px;
}
